<!-- <nav class="position-absolute top-0 start-50 my-5 mx-0"> -->
    <nav class="  fs-4  text-center bg-dark py-3">
        <a class="me-5 text-decoration-none text-white"
         href="/">Home</a>

        <a class="me-5 text-decoration-none text-white"
         href="/library">Library</a>

        <a class="me-5 text-decoration-none text-white"
         href="/about">About</a>
    </nav>
    