<%- include("partials/header")%>
  <%- include("partials/nav")%>
  


    <div class="col-mt-5 text-center containes bg-dark py-5">
      <h1 class="  text-white text-center">This Is About Page</h1>
      <p class=" fs-5 text text-white text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sapiente sequi <br>
          incidunt quo at cupiditate dolorem voluptas soluta voluptatibus beatae <br> dignissimos nobis velit, explicabo
          reprehenderit, vel magni nulla obcaecati. Fugit?</p>
          <button class="px-5 m-5 mt-5  bg-info-subtle text-black fs-6 text  ">view More</button>
  </div>
  <%- include("partials/footer")%>
  