<%- include("partials/header")%>
  <%- include("partials/nav")%>

<div class="col-mt-5 text-center containes ">
    <h1 class="  text-black text-center mt-3">Welcome to</h1>
    <p class=" fs-3 text text-black text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sapiente sequi <br>
        incidunt quo at cupiditate dolorem voluptas soluta voluptatibus  <br>beatae dignissimos nobis velit, explicabo
        reprehenderit, vel magni nulla obcaecati. Fugit?</p>
        <button class="px-5 m-5 mt-5  bg-info-subtle text-black fs-6 text  ">view More</button>
</div>

<%- include("partials/footer")%>